*{
    font-family: Perpetua;
}
#magicsquare td{
    
    background-color: rgb(3, 94, 97);
    color: white;
    width: 4vw;
    height: 4vw;
   font-size: 1.2em;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   margin: 1px;
}
#magicsquare tr{
    margin: 0;
}
