body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 90vh;
}
#canvas{
    margin: auto;
    display: block;
    border: 2px solid #00F;
    padding: 0px;
}